streamlit==1.28.0
plotly==5.17.0
pandas==2.1.0
numpy==1.24.3
matplotlib==3.8.0
seaborn==0.12.2
streamlit-option-menu==0.3.6
streamlit-antd-components==0.2.2
kaleido==0.2.1
openpyxl==3.1.2
gspread==5.11.3
oauth2client==4.1.3
